doctype html
html(lang="fr")
    head
        title Chat
    body
        form(method="POST", action="/connect")
            input(type="text", name="name", placeholder="Name")
            input(type="submit", value="Connect")
